# TMDB API
VITE_TMDB_API_KEY=your_tmdb_api_key

# Firebase
VITE_FIREBASE_API_KEY=your_firebase_api_key

# Stripe
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
STRIPE_SECRET_KEY=sk_test_your_secret_key
VITE_STRIPE_BASIC_PRICE_ID=price_your_basic_price_id
VITE_STRIPE_STANDARD_PRICE_ID=price_your_standard_price_id
VITE_STRIPE_PREMIUM_PRICE_ID=price_your_premium_price_id
